<%- include('partials/_header.ejs') %>

    <form action="/participants/search/<%= page_number %>" method="get" id="search-form">
        <div class="input-group mb-3 do-not-print">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">
            <i class="material-icons mdc-button__icon">search</i>
            </span>
        </div>
        <input type="text" id="search-entry" autofocus class="form-control" name="result" value="<%= last_search %>" placeholder="Name or Phone #" aria-label="Search" aria-describedby="basic-addon1" />
        <button type="submit" id="search-button" style="visibility: hidden;"/></button>
        </div>
    </form>
    <div class="table-responsive-sm">
        <table class="table table-hover">
        <thead>
          <tr>
            <th>Phone # </th>
            <th>Name </th>
            <th>Points </th>

            <th class="d-print-none">
                <a class="btn btn-sm btn-success" href="/add_participant" title="Add a new participant">Add Participant</a>
            </th>
            </tr>
        </thead>
        <tbody>
            <% for (const participant of model) { %>
            <tr onclick="window.location=`/points/<%= participant.PHONE_NUMBER %>`" style="cursor: pointer;">
                <td><%= participant.PHONE_NUMBER %></td>
                <td><%= participant.NAME %></td>
                <td>
                    <b class="float-left">&nbsp;<%= participant.POINTS %></b>
                </td>
                <td class="d-print-none">
                  <a href="/edit_participant/<%= participant.PHONE_NUMBER %>/<%= page_number %>"><img src="/images/edit.png" title="edit"></a>
                  <a href="/remove_participant/<%= participant.PHONE_NUMBER %>/<%= page_number %>"><img src="/images/x.png" title="remove"></a>
                </td>
              </tr>
            <% } %>
        </tbody>
        </table>

        <div class="center">
        <div class="pagination">
          <% if(parseInt(page_number) > 1) { %>
            <a href="/participants/<%= search_pag %><%= parseInt(page_number) - 1 %><%= result %>">&laquo;</a>
          <% } %>
          <% for (let i = 1; (i < count+1 && i < 8); i++) { %>
            <% if(i === parseInt(page_number)) { %>
              <a class="active" href="/participants/<%= search_pag %><%= i %><%= result %>"><%= i %></a>
            <% } else { %>
              <a href="/participants/<%= search_pag %><%= i %><%= result %>"><%= i %></a>
            <% } %>
          <% } %>
          <% if(parseInt(page_number) < count) { %>
            <a href="/participants/<%= search_pag %><%= parseInt(page_number) + 1 %><%= result %>">&raquo;</a>
          <% } %>  
        </div>
        
      </div>

    </div>

      <form action="/participants" method="get">
        <button type="submit" id="reset" style="visibility: hidden;"/></button>
      </form>
<%- include('partials/_footer.ejs') %>