<%- include('partials/_header.ejs') %>

    <hr />
        <% if(points >= 0) { %>
            <h1>Total Points - <span class="positive-points"><%= points %></span> (<%= name %>)
        <% } else { %>
            <h1>Total Points - <span class="negative-points"><%= points %></span> (<%= name %>)
        <% } %>
        <a class="btn btn-sm btn-success do-not-print" href="/add_points/<%= phone_number %>" title="add points"><img src="/images/add.png"></a>
        <a class="btn btn-sm btn-warning do-not-print" href="/redeem_points/<%= phone_number %>" title="redeem points"><img src="/images/ticket.png"></a></h1>
    <hr />
    <a class="backButton pointer float-right do-not-print" href="/participants"><div class="leftChevron do-not-print"></div></a>
    <br /><h1>Redeemed</h1>
    <div class="table-responsive-sm">
        <table class="table table-hover">
        <thead>
            <tr>
            <th>Points </th>
            <th>Time Entered</th>
            <th>  
                <span> </span>
            </th>
            </tr>
        </thead>
        <tbody>
            <% for (const redeem_data of redeem_model) { %>
            <tr>
                <td><%= redeem_data.POINTS %></td>

                <td><%= format(parseISO(redeem_data.TE), 'hh:mm a MMM dd yyyy') %></td>
                <td class="d-print-none">
                  <a href="/edit_redeemed_entry/<%= name %>/<%= redeem_data.id %>"><img src="/images/edit.png" title="edit"></a>
                  <a href="/remove_redeemed_entry/<%= redeem_data.id %>"><img src="/images/x.png" title="remove"></a>
                </td>
              </tr>
            <% } %>
        </tbody>
        </table>
    </div>

    <br /><h1>Earned</h1>
    <div class="table-responsive-sm">
        <table class="table table-hover">
        <thead>
            <tr>
            <th>Points</th>
            <th>Time Entered</th>
            <th>  
                <span> </span>
            </th>
            </tr>
        </thead>
        <tbody>
            <% for (const points_data of points_model) { %>
            <tr>
                <td><%= points_data.POINTS %></td>
                <td><%= format(parseISO(points_data.TE), 'hh:mm a MMM dd yyyy') %></td>
                <td class="d-print-none">
                  <a href="/edit_point_entry/<%= name %>/<%= points_data.id %>"><img src="/images/edit.png" title="edit"></a>
                  <a href="/remove_point_entry/<%= name %>/<%= points_data.id %>"><img src="/images/x.png" title="remove"></a>
                </td>
              </tr>
            <% } %>
        </tbody>
        </table>
    </div>
    <a class="backButton pointer float-right do-not-print" href="/participants"><div class="leftChevron do-not-print"></div></a>
    <form action="/points_desc" method="post">
        <button type="submit" id="p-desc-button" style="visibility: hidden;"/></button>
    </form>
    <form action="/points_asc" method="post">
        <button type="submit" id="p-asc-button" style="visibility: hidden;"/></button>
    </form>
<%- include("partials/_points_footer") -%>